.notekit .sidebar .view, .notekit .sidebar iconview,
 .notekit .sidebar row {
    border-color: rgba(186, 195, 207, 0.6); 
 }

#mainView {
    font: 16px Charter, Bitstream Charter, Noto Serif, Noto Serif CJK JP, Noto Naskh Arabic, serif;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

#mainViewScroll {
    background: red;
    border-color: blue;
}
